<!-- absoluutne teekond - hakkab algusest -->
<app-back-button [url]="'/admin'"></app-back-button>

<!-- relatiivne teekond - võrreldes sellega kus praegu asutakse -->
<!-- <button routerLink=".." class="main-button">Tagasi</button> -->

<!-- tekkis kui kirjutasin a-form ja tab
(ngSubmit) on vormi sisestamise sündmus
onSubmit() funktsioon läheb .ts failis käima (peab olema seal identsel kujul)
#form on id="form" ehk annab vormile nimetuse
"ngForm" on vormi tüüp -->
<form (ngSubmit)="onSubmit(addItemForm)" #addItemForm="ngForm">
    <label>Pilt</label><br>
    <input ngModel name="imgSrc" type="text" placeholder="Eseme pilt" required><br>
    <label>Nimetus</label><br>
    <input ngModel name="title" type="text" placeholder="Eseme nimetus" required><br>
    <label>Hind</label><br>
    <input ngModel name="price" type="number" placeholder="Eseme hind" required><br>
    <label>Kategooria</label><br>
    <!-- <input ngModel name="category" type="text" placeholder="Eseme kategooria" required><br> -->
    <select name="category" ngModel required>
        <!-- <option value="sunglasses">sunglasses</option>
        <option value="glasses">glasses</option>
        <option value="spectacle case">spectacle case</option> -->
        <option disabled selected value="">Vali kategooria</option>
        <option *ngFor="let category of categories" value="{{category}}">{{category}}</option>
    </select><br>
    <button [disabled]="addItemForm.invalid">Lisa ese</button>
</form>