<br>
<button routerLink="/admin/lisa-ese" class="main-button">Lisa ese</button>
<!-- <button routerLink="lisa-ese" class="main-button">Lisa ese</button> -->
<br>
<button routerLink="/admin/vaata-esemeid" class="main-button">Vaata/muuda esemeid</button>
<!-- <button routerLink="vaata-esemeid" class="main-button">Vaata/muuda esemeid</button> -->
<br>
<button routerLink="/admin/kategooriad" class="main-button">Mine kategooriate lehele</button>
<br>
<button routerLink="/admin/galerii-seaded" class="main-button">Mine karuselli seadete lehele</button>
<br>
<button routerLink="/registreeru" class="main-button">Lisa uusi kasutajaid</button>