<button *ngIf="itemsInCart.length > 0" (click)="onEmptyCart()" class="main-button">Tühjenda ostukorv</button>
<div *ngIf="itemsCount == 1">Ostukorvis on 1 ese</div>
<div *ngIf="itemsCount > 1">Ostukorvis on {{ itemsCount }} eset</div>

<div *ngIf="itemsInCart.length == 0">Ostukorv on tühi</div>

<div *ngFor="let item of itemsInCart">
    <img src="{{ item.cartItem.imgSrc }}" alt="">
    <div class="item-title">{{ item.cartItem.title }}</div><br>
    <span class="item-price">{{ item.cartItem.price | itemPrice }}</span><br><br>
    <div class="item-title">{{ item.quantity }}</div><br>
    <div class="item-title">{{ item.cartItem.price * item.quantity | itemPrice }}</div><br>
    <button (click)="onRemoveFromCart(item)" class="main-button">X</button>
</div>

<div *ngIf="itemsInCart.length > 0">KOKKU: {{ sumOfCart | itemPrice }}</div>