/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
}

/* kui teksti ees pole punkti ega hashtagi siis annan tagile */

.main-button {
    border: none;
    padding: 10px;
    margin-bottom: 20px;
    background-color: rgb(202, 196, 196);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}

.main-button:hover {
    background-color: rgb(165, 160, 160);
    transition: 0.5s;
}