<!-- ülevalt alla kõigi toodete pilt,
toote pealkiri,
toote hind,
toote kategooria
button -->

<app-carousel></app-carousel>

<!-- items = [{title:"asd",price:21},{...}] -->
<!-- item = {title:"asd",price:21} -->
<div>Sorteeri</div>
<button (click)="onSortByTitleAsc()">Tähestiku järgi kasvavalt</button>
<button (click)="onSortByTitleDesc()">Tähestiku järgi kahanevalt</button>
<button (click)="onSortByPriceAsc()">Hinna järgi kasvavalt</button>
<button (click)="onSortByPriceDesc()">Hinna järgi kahanevalt</button>
<br><br><br>

<div 
    [ngClass]="{
        'special-background': item.title.substring(0,1)=='A',
        'active': item.isActive, 
        'inactive': !item.isActive}" 
    *ngFor="let item of items">
    <app-item-card 
        [item]="item"></app-item-card>
</div>

<!-- [class.active]="item.isActive" 
        [class.inactive]="!item.isActive" -->