.item {
    margin-left: 40px;
    height: 400px;
    width: 300px;
}

.item-title {
    font-size: 20px;
    color: rgb(43, 45, 53);
}

.item-price {
    background-color: gray;
    padding: 10px;
    border-radius: 7px 0 7px 7px;
}

.special-background {
    background-color: blueviolet;
}