.item {
    margin-left: 40px;
    height: 400px;
    width: 300px;
}

.special-background {
    background-color: blueviolet;
}

.active {
    border: 1px solid green;
}

.inactive {
    border: 1px solid red;
}