<!-- ülevalt alla kõigi toodete pilt,
toote pealkiri,
toote hind,
toote kategooria
button -->

<app-carousel></app-carousel>

<!-- items = [{title:"asd",price:21},{...}] -->
<!-- item = {title:"asd",price:21} -->
<div>Sorteeri</div>
<button (click)="onSortByTitleAsc()">Tähestiku järgi kasvavalt</button>
<button (click)="onSortByTitleDesc()">Tähestiku järgi kahanevalt</button>
<button (click)="onSortByPriceAsc()">Hinna järgi kasvavalt</button>
<button (click)="onSortByPriceDesc()">Hinna järgi kahanevalt</button>
<br><br><br>

<app-spinner *ngIf="isLoading"></app-spinner>

<div *ngFor="let category of items | uniqueCategory">{{ category }}</div>

<div 
    [ngClass]="{
        'special-background': itemShown.title.substring(0,1)=='A',
        'active': itemShown.isActive && isLoggedIn, 
        'inactive': !itemShown.isActive && isLoggedIn}" 
    *ngFor="let itemShown of items">
    <app-item-card *ngIf="isLoggedIn || (!isLoggedIn && itemShown.isActive)"
        [item]="itemShown" [isLoggedIn]="isLoggedIn" (activeChangedEvent)="saveToDatabaseOnActiveChanged($event)"></app-item-card>
<!-- Input() item -->
</div>

<!-- [class.active]="item.isActive" 
        [class.inactive]="!item.isActive" -->